.videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
    margin-left: 60px;
    margin-right: 60px;
}

.video-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.video-container > button {
    margin-top: 15px;
    width: 500px;
}

.alert {
    display: none;
    text-align: center;
}

#loading-icon {
    position: absolute;
    width: 7rem;
    height: 7rem;
    display: none;
}

#countdown {
    position: absolute;
    font-size: 150px;
    color: rgba(0, 0, 0, 0.5);
}

body {
    background-image: url("https://thumbs.dreamstime.com/b/kids-game-rock-paper-scissors-pattern-white-background-134992609.jpg");
    background-repeat: repeat, repeat;
    background-color: #cccccc;
    display: inline;
    margin: 0;
}

.wins {
    margin-top: 5px;
    font-size: larger;
    font-weight: bold;
    background-color: #cccccc70;
}

.title {
    background-color: #cccccc70;
    font-size: xx-large;
    font-weight: bold;
    color: black;
}

.imageElement {
    font-size: 8rem;
}

.shapes-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.single-shape {
    display: none;
    width: 30%;
}